{% extends 'layout_cover.html.twig' %}

{% block body %}
    <h1 class="cover-heading">Jak działa PAYA?</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
        edit the text, and add your own fullscreen background photo to make it your own.</p>
{% endblock %}