{% extends 'layout_cover.html.twig' %}

{% block body %}
    <h1 class="cover-heading">Jak działa PAYA?</h1>
    <div class="slides">
        <div class="slide">
            <p class="lead">
                <strong>PAYA</strong> analizuje
            </p>
        </div>
        <div class="slide">
            <p class="lead">
                <strong>PAYA</strong> analizuje
            </p>
        </div>
        <div class="slide">
            <p class="lead">
                <strong>PAYA</strong> analizuje
            </p>
        </div>
    </div>
{% endblock %}