{% extends 'layout_cover.html.twig' %}

{% block body %}
    <h1 class="cover-heading">Płatności w jednym miejscu</h1>
    <p class="lead" style="padding: 20px 0 20px 0;">
        <strong>PAYA</strong> przechowuje informację na temat Twoich zobowiązań finansowych w jednym miejscu.
        Nie musisz pamiętać o zbliżających się terminach - asystent mobilny przypomni Ci o nich oraz zrealizuje płatność za Ciebie.
    </p>
    <p class="lead">
        <a href="{{ path('howto') }}" class="btn btn-lg btn-default">

            Sprawdź jak działa
            <img src="{{ asset('assets/paya-btn.png') }}" alt="PAYA - Pay Assistant" style="height:20px;">
        </a>
    </p>
{% endblock %}