{% extends 'layout_cover.html.twig' %}

{% block body %}
    <h1 class="cover-heading">Inteligentne płatności</h1>
    <p class="lead" style="padding: 20px 0 20px 0;">
        Cover is a one-page template for building simple and beautiful home pages. Download,
        edit the text, and add your own fullscreen background photo to make it your own.
    </p>
    <p class="lead">
        <a href="{{ path('howto') }}" class="btn btn-lg btn-default">
            Sprawdź jak działa
            <img src="{{ asset('assets/paya-btn.png') }}" alt="PAYA - Pay Assistant" style="height:20px;">
        </a>
    </p>
{% endblock %}