{% extends 'layout_manage.html.twig' %}

{% block body %}
    <div class="panel panel-default panel-20">
        <div class="panel-heading"><a href="{{ path('payments') }}">Opłaty</a></div>
        <div class="panel-body">
            <div class="text-center">
                <input type="text" class="knob-payments"
                       data-readonly="true"
                       value="2"
                       data-min="0"
                       data-max="5"
                       data-width="100"
                       data-height="100"
                       data-fgColor="#39CCCC">
                <div class="knob-label">Faktur do zapłaty</div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-20">
        <div class="panel-heading"><a href="#">Oszczędności</a></div>
        <div class="panel-body">
            <div class="text-center">
                <input type="text" class="knob-saves" data-readonly="true" value="30" data-width="100" data-height="100" data-fgColor="#66f475">
                <div class="knob-label">Oszczędności w maju</div>
            </div>
        </div>
    </div>
{% endblock %}